@model Mapping.Models.MapModel
@using Microsoft.AspNet.Identity


@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Home", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    <ul class="nav navbar-nav navbar-right">
        @if (Model != null && Model.mapDetail != null) {
            <li>
                @Html.ActionLink("Edit: " + Model.mapDetail.MapId + " " + Model.mapDetail.MapName, "Edit", "Map", routeValues: null, htmlAttributes: new { title = "Edit Map" })
            </li>

            @*{
            RouteData routeData = HttpContext.Current.Request.RequestContext.RouteData;
            routeData.GetRequiredString("action");
            if (routeData.GetRequiredString("action") == "Grid") { }
            }*@
            
            <li>
                @Html.ActionLink("Map View", "Index", "Map", routeValues: null, htmlAttributes: new { title = "View Map" })
            </li>
            
            <li>
                @Html.ActionLink("Grid View", "Grid", "Map", routeValues: null, htmlAttributes: new { title = "Grid View" })        
            </li>
            
            <li>
                @Html.ActionLink("Import", "Import", "Map", routeValues: null, htmlAttributes: new { title = "Import Locations" })
            </li>

        }
        <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
        
    </ul>
    }
}

    @*<ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>*@

