@model Mapping.Models.MapModel

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create New Map</h2>

<div>
@using (Html.BeginForm("Create", "Map", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form", autocomplete = "off" }))
{
    @Html.AntiForgeryToken()

    <div class="form-group">
        @Html.LabelFor(m => m.mapDetail.MapName, new { @class = "col-sm-2 control-label" })
        <div class="col-sm-10">
            @Html.TextBoxFor(m => m.mapDetail.MapName, new { @class = "form-control", placeholder = "Enter "+@Html.DisplayNameFor(m=>m.mapDetail.MapName), Value = "" })
            @Html.ValidationMessageFor(m => m.mapDetail.MapName, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.mapDetail.MapCode, new { @class = "col-sm-2 control-label" })
        <div class="col-sm-10">
            @Html.TextBoxFor(m => m.mapDetail.MapCode, new { @class = "form-control", placeholder = "Optional " + @Html.DisplayNameFor(m => m.mapDetail.MapCode), Value = "" })
            <span class="help-block">This is an optional field.</span>
            @Html.ValidationMessageFor(m => m.mapDetail.MapCode, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <div class="checkbox">
                <label>
                    @Html.CheckBoxFor(m=>m.mapDetail.MapPublicAllowed) @Html.LabelFor(m=>m.mapDetail.MapPublicAllowed)
                </label>
                <span class="help-block">When enabled users will be able to view the map through special URL <em>http://@(Request.Url.Authority)/Map/MapView/{map code}</em></span>
            </div>
        </div>
    </div>


    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-success">Create Map</button>
        </div>
    </div>
}
</div>

@if (Model.updateStatus == true)
{ 
    <!-- Modal -->
    <div class="modal fade" id="createMapModal" tabindex="-1" role="dialog" aria-labelledby="createMapModalLabel" aria-hidden="true">
        <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        <h4 class="modal-title" id="createMapModalLabel">New Map Created</h4>
                    </div>
                    <div class="modal-body">
                        <p>Congratulations you have created a new map!</p>
                        <p>Your map number is @(Model.mapDetail.MapId), use this when logging on to the map.</p>
                    </div>
                    <div class="modal-footer">
                        @Html.ActionLink("Lets Go!", "Index", "Map", null, new { @class="btn btn-success" })
                    </div>
                </div>
        </div>
    </div>

    @section scripts {
        <section class="scripts">
            <script type="text/javascript">

                $(document).ready(function () {
                    $('#createMapModal').modal();
                });

            </script>
        </section>
    }
}